<!DOCTYPE html>
<html>
<head>
  <title>Leave Application</title>
</head>
<body>
  <p>Dear <%= name %>,</p>
  <p>Your leave application has been received with the following details:</p>
  <p><%= leaveDetails %></p>
</body>
</html>
