<!DOCTYPE html>
<html>
<head>
  <title>Promotion</title>
</head>
<body>
  <p>Dear <%= name %>,</p>
  <p>Congratulations! You have been promoted. Details:</p>
  <p><%= promotionDetails %></p>
</body>
</html>
